@charset "UTF-8";
[data-tooltip] {
  position: relative;
  z-index: 2;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px);
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: -webkit-max-content;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(37, 38, 39, 0.9);
  background-image: linear-gradient(30deg, rgba(59, 72, 80, 0.44), rgba(59, 68, 75, 0.44), rgba(60, 82, 88, 0.44));
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  -webkit-transform: translate(-50%, -5px) scale(0.5);
          transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: "";
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  border-color: rgba(37, 38, 39, 0.9) transparent transparent transparent;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
  -webkit-transform-origin: top;
          transform-origin: top;
  /* Orientation setting for the
                              slide-down effect */
  -webkit-transform: translateX(-50%) scaleY(0);
          transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transform: translate(-50%, -5px) scale(1);
          transform: translate(-50%, -5px) scale(1);
}

/* Slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  /* Starting after the grow effect */
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateX(-50%) scaleY(1);
          transform: translateX(-50%) scaleY(1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #ecf0f1;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.title {
  font-size: 24px;
  color: #171d1c;
  text-align: center;
  width: 100%;
  margin: 50px 0;
  position: relative;
}

.title::after {
  position: absolute;
  top: -130%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "♦ ♦ ♦";
  color: #34d08a;
  display: block;
}

.nav {
  -webkit-animation: slideDown 0.7s ease-in-out;
          animation: slideDown 0.7s ease-in-out;
  background: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 3;
  -webkit-box-shadow: 0 0 2px 2px rgba(69, 72, 81, 0.12);
          box-shadow: 0 0 2px 2px rgba(69, 72, 81, 0.12);
}

.nav-wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.nav__logo {
  font-family: "Merienda", cursive;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  color: #171d1c;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (min-width: 991px) {
  .nav__logo {
    display: none;
  }
}

.nav__hamburger {
  background: transparent;
  width: 22px;
  height: 16px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: auto 15px auto auto;
  overflow: hidden;
}

.nav__hamburger .line1,
.nav__hamburger .line2,
.nav__hamburger .line3 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #454851;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.nav__hamburger .line1 {
  top: 0;
}

.nav__hamburger .line2 {
  top: 7px;
}

.nav__hamburger .line3 {
  bottom: 0;
}

.nav__hamburger.active .line1 {
  -webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
          transform: translate3d(0, 7px, 0) rotate(45deg);
}

.nav__hamburger.active .line2 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav__hamburger.active .line3 {
  -webkit-transform: translate3d(0, -7px, 0) rotate(-45deg);
          transform: translate3d(0, -7px, 0) rotate(-45deg);
}

@media only screen and (min-width: 991px) {
  .nav__hamburger {
    display: none;
  }
}

.nav__list {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  display: none;
}

@media only screen and (min-width: 991px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.nav__list.active {
  display: block;
}

.nav__list .list__item {
  text-transform: uppercase;
  list-style: none;
  border-bottom: 1px dotted #10101029;
  margin: 0 15px;
  padding: 10px;
  position: relative;
  font-weight: 500;
}

@media only screen and (min-width: 991px) {
  .nav__list .list__item {
    border: none;
  }
  .nav__list .list__item::after, .nav__list .list__item::before {
    position: absolute;
    bottom: 5px;
    left: 50%;
    content: "";
    height: 1px;
    background: rgba(55, 213, 143, 0.55);
    width: 0%;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    opacity: 0;
  }
  .nav__list .list__item:hover::after {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
    width: 50%;
  }
  .nav__list .list__item:hover::before {
    opacity: 1;
    width: 50%;
  }
}

.nav__list .list__item--big {
  display: none;
}

@media only screen and (min-width: 991px) {
  .nav__list .list__item--big {
    display: block;
    font-size: 24px;
    font-weight: 700;
    font-family: "Merienda", cursive;
  }
}

.nav__list .list__item--big::after, .nav__list .list__item--big::before {
  display: none;
}

.nav__list .list__item:last-child {
  border: none;
}

@media only screen and (min-width: 1220px) {
  .nav__list .list__item:last-child {
    margin-right: 0;
  }
}

.nav__list .list__item a {
  text-decoration: none;
  color: #454851;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120vh;
  background: url("../img/boat.jpg") no-repeat;
  background-attachment: fixed;
  background-position-x: 50%;
  background-size: cover;
  padding-top: 60px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}

.header__title {
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  padding: 0 20px;
  width: 100%;
  text-shadow: 1px 1px 2px #b7b7b7;
  text-transform: uppercase;
}

.ideas {
  padding: 20px;
  margin-top: 40px;
}

.ideas .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ideas .boxes .box {
  width: 100%;
  height: 250px;
  max-width: 340px;
  margin: 0 10px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.ideas .boxes .box .text {
  margin: auto 20px 20px 20px;
  text-align: center;
  background: #ffffff;
  width: 100%;
  padding: 25px;
  color: #454851;
  font-weight: bold;
  position: relative;
}

.ideas .boxes .box .text::after {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #cccccc;
  margin: 10px;
  content: "";
  top: 0;
  left: 0;
  display: block;
}

.ideas .boxes .box .description {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: #ffffff;
  margin: 20px;
  padding: 25px;
  height: calc(100% - 40px);
  color: #171d1c;
}

.ideas .boxes .box .description span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ideas .boxes .box .description::after {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #cccccc;
  margin: 10px;
  content: "";
  top: 0;
  left: 0;
  display: block;
}

.ideas .boxes .box:hover .description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ideas .boxes .box1 {
  background: url("../img/box1.jpg") no-repeat;
  background-size: cover;
}

.ideas .boxes .box2 {
  background: url("../img/box2.jpg") no-repeat;
}

.ideas .boxes .box3 {
  background: url("../img/box3.jpg") no-repeat;
}

.locations {
  padding: 20px;
}

.locations .boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  max-width: 1200px;
  row-gap: 40px;
  margin-bottom: 60px;
  margin: auto;
}

@media only screen and (min-width: 1100px) {
  .locations .boxes {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.locations .boxes .box {
  margin: 0 auto;
  background: #ffffff;
  border-radius: 7px;
  max-width: 278px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
  .locations .boxes .box {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    max-width: 560px;
  }
}

.locations .boxes .box .img {
  height: 200px;
}

@media only screen and (min-width: 600px) {
  .locations .boxes .box .img {
    height: 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
}

.locations .boxes .box .img.img1 {
  background: url("../img/p1.jpg") no-repeat;
  background-size: cover;
}

.locations .boxes .box .img.img2 {
  background: url("../img/p2.jpg") no-repeat;
  background-size: cover;
}

.locations .boxes .box .img.img3 {
  background: url("../img/p3.jpg") no-repeat;
  background-size: cover;
}

.locations .boxes .box .img.img4 {
  background: url("../img/p4.jpg") no-repeat;
  background-size: cover;
}

.locations .boxes .box .content {
  padding: 20px 20px 70px 20px;
  position: relative;
}

.locations .boxes .box .content .name {
  font-size: 24px;
  color: #171d1c;
  margin-bottom: 10px;
}

.locations .boxes .box .content .desc {
  color: #454851;
  margin-bottom: 10px;
  font-size: 14px;
}

.locations .boxes .box .content .details {
  color: #454851;
  font-size: 13px;
}

.locations .boxes .box .content .details span {
  margin-right: 10px;
}

.locations .boxes .box .content .button--red {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 12px;
  background: #f31131;
  padding: 8px 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.locations .boxes .box .content .button--red:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.reasons {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reasons .item {
  text-align: center;
  margin: 0 10px 60px 10px;
}

.reasons .item .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#43e9a4), color-stop(#38d690), color-stop(#2cc37c), color-stop(#20b069), to(#109e57));
  background-image: linear-gradient(to left top, #43e9a4, #38d690, #2cc37c, #20b069, #109e57);
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}

.reasons .item .circle::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.reasons .item .circle.circle1::after {
  background: url("../img/icon1.png") no-repeat;
  background-position: center;
}

.reasons .item .circle.circle2::after {
  background: url("../img/icon2.png") no-repeat;
  background-position: center;
}

.reasons .item .circle.circle3::after {
  background: url("../img/icon3.png") no-repeat;
  background-position: center;
}

.reasons .item .name {
  font-size: 18px;
  margin-bottom: 10px;
}

.reasons .item .desc {
  font-size: 13px;
  max-width: 310px;
  margin: auto;
}

@media only screen and (min-width: 500px) {
  .contact {
    background: url("../img/contact.jpg") no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-attachment: fixed;
  }
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1200px;
}

.contact .wrapper .contactBox {
  padding: 30px;
  width: 100%;
  background: #ffffff;
}

@media only screen and (min-width: 500px) {
  .contact .wrapper .contactBox {
    margin: 200px 0 0 auto;
    max-width: 450px;
  }
}

.contact .wrapper .button--red {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 12px;
  background: #f31131;
  padding: 8px 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 15px auto;
}

.contact .wrapper .button--red:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.contact .wrapper .form__label {
  position: relative;
  font-size: 13px;
}

.contact .wrapper .form__input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999999;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.contact .wrapper .form__input:focus {
  outline: none;
  border-bottom: 1px solid #454851;
}

.contact .wrapper .form__input:focus + .placeholder {
  font-size: 10px;
  top: -15px;
  color: #171d1c;
}

.contact .wrapper .form__input:not(:placeholder-shown) + .placeholder {
  top: -15px;
  font-size: 10px;
}

.contact .wrapper .form__input:not(:placeholder-shown):invalid {
  border-bottom: 1px solid #f31131;
}

.contact .wrapper textarea {
  min-height: 100px;
  resize: none;
  position: relative;
  vertical-align: top;
}

.contact .wrapper textarea.form__input {
  padding: 0 5px;
}

.contact .wrapper .placeholder {
  position: absolute;
  top: 2px;
  left: 5px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  color: #999999;
}

.footer {
  background: #171d1c;
  color: #ffffff;
  font-size: 12px;
  padding: 30px 20px;
  line-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .wrapper {
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
}

@media only screen and (min-width: 991px) {
  .footer .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.footer .info {
  text-align: right;
}

.footer .details {
  list-style: none;
  margin-bottom: 15px;
}

.footer .address {
  list-style: none;
}

.footer__title {
  font-size: 13px;
  font-weight: 700;
}

.footer .links {
  display: none;
}

@media only screen and (min-width: 991px) {
  .footer .links {
    display: block;
    line-height: 25px;
    font-size: 13px;
  }
  .footer .links a {
    color: #ffffff;
    text-decoration: none;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */