*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #ecf0f1;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.nav {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0 0 2px 2px rgba(69, 72, 81, 0.12);
          box-shadow: 0 0 2px 2px rgba(69, 72, 81, 0.12);
}

.nav .mobileLogo {
  font-family: 'Merienda', cursive;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  color: #171d1c;
  font-size: 20px;
  font-weight: bold;
}

.nav .hamburger {
  background: transparent;
  width: 22px;
  height: 16px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
  margin: auto 15px auto auto;
  overflow: hidden;
}

.nav .hamburger .line1,
.nav .hamburger .line2,
.nav .hamburger .line3 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #454851;
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.nav .hamburger .line1 {
  top: 0;
}

.nav .hamburger .line2 {
  top: 7px;
}

.nav .hamburger .line3 {
  bottom: 0;
}

.nav .hamburger.active .line1 {
  -webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
          transform: translate3d(0, 7px, 0) rotate(45deg);
}

.nav .hamburger.active .line2 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav .hamburger.active .line3 {
  -webkit-transform: translate3d(0, -7px, 0) rotate(-45deg);
          transform: translate3d(0, -7px, 0) rotate(-45deg);
}

.nav .nav__list {
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.nav .nav__list.hide {
  display: none;
}

.nav .nav__list .item {
  text-transform: uppercase;
  list-style: none;
  border-bottom: 1px dotted #10101029;
  margin: 0 15px;
  padding: 10px;
}

.nav .nav__list .item:last-child {
  border: none;
}

.nav .nav__list .item a {
  text-decoration: none;
  color: #454851;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: url("../img/boat.jpg") no-repeat;
  background-position-x: 50%;
  background-size: cover;
  padding-top: 60px;
}

.header .title {
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  padding: 0 20px;
  width: 100%;
}

.ideas {
  padding: 20px;
  margin-top: 40px;
}

.ideas .title {
  font-size: 24px;
  color: #171d1c;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.ideas .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ideas .boxes .box {
  width: 100%;
  height: 250px;
  max-width: 340px;
  margin: 0 10px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ideas .boxes .box .text {
  margin: auto 20px 20px 20px;
  text-align: center;
  background: #ffffff;
  width: 100%;
  padding: 25px;
  color: #454851;
  font-weight: bold;
  position: relative;
}

.ideas .boxes .box .text::after {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #cccccc;
  margin: 10px;
  content: '';
  top: 0;
  left: 0;
  display: block;
}

.ideas .boxes .box1 {
  background: url("../img/box1.jpg") no-repeat;
  background-size: cover;
}

.ideas .boxes .box2 {
  background: url("../img/box2.jpg") no-repeat;
}

.ideas .boxes .box3 {
  background: url("../img/box3.jpg") no-repeat;
}

.locations {
  padding: 20px;
}

.locations .title {
  font-size: 24px;
  color: #171d1c;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.locations .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.locations .boxes .box {
  background: #ffffff;
  margin: 0 10px 20px 10px;
  border-radius: 7px;
  max-width: 278px;
  position: relative;
}

@media only screen and (min-width: 991px) {
  .locations .boxes .box {
    width: 50%;
    max-width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.locations .boxes .box .img {
  max-width: 278px;
}

.locations .boxes .box .img img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
}

@media only screen and (min-width: 991px) {
  .locations .boxes .box .img img {
    width: 278px;
  }
}

.locations .boxes .box .content {
  padding: 20px 20px 70px 20px;
}

.locations .boxes .box .content .name {
  font-size: 24px;
  color: #171d1c;
  margin-bottom: 10px;
}

.locations .boxes .box .content .desc {
  color: #454851;
  margin-bottom: 10px;
  font-size: 14px;
}

.locations .boxes .box .content .details {
  color: #454851;
  font-size: 13px;
}

.locations .boxes .box .content .details span {
  margin-right: 10px;
}

.locations .boxes .box .content .button--red {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 12px;
  background: #f31131;
  padding: 8px 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.reasons {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reasons .title {
  font-size: 24px;
  color: #171d1c;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.reasons .item {
  text-align: center;
  margin: 0 10px 60px 10px;
}

.reasons .item .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#43e9a4), color-stop(#38d690), color-stop(#2cc37c), color-stop(#20b069), to(#109e57));
  background-image: linear-gradient(to left top, #43e9a4, #38d690, #2cc37c, #20b069, #109e57);
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}

.reasons .item .circle::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.reasons .item .circle.circle1::after {
  background: url("../img/icon1.png") no-repeat;
  background-position: center;
}

.reasons .item .circle.circle2::after {
  background: url("../img/icon2.png") no-repeat;
  background-position: center;
}

.reasons .item .circle.circle3::after {
  background: url("../img/icon3.png") no-repeat;
  background-position: center;
}

.reasons .item .name {
  font-size: 18px;
  margin-bottom: 10px;
}

.reasons .item .desc {
  font-size: 13px;
  max-width: 310px;
  margin: auto;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact .wrapper .title {
  font-size: 24px;
  color: #171d1c;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.contact .wrapper .contactBox {
  padding: 60px 30px;
  width: 100%;
  max-width: 500px;
  background: #ffffff;
}

.contact .wrapper .button--red {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 12px;
  background: #f31131;
  padding: 8px 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 15px auto;
}

.contact .wrapper .form__label {
  position: relative;
  font-size: 14px;
}

.contact .wrapper .form__label input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #999999;
  margin-bottom: 20px;
  padding: 10px 5px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.contact .wrapper .form__label input:focus ~ .form__groupLabel, .contact .wrapper .form__label input:not(:placeholder-shown) ~ .form__groupLabel {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  font-size: 10px;
  top: -12px;
  color: #171d1c;
}

.contact .wrapper .form__label input:focus {
  outline: none;
  border-bottom: 1px solid #454851;
}

.contact .wrapper .form__label input:not(:placeholder-shown):invalid {
  border-bottom: 1px solid #f31131;
}

.contact .wrapper .form__label .form__groupLabel {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #999999;
}

.footer {
  background: #171d1c;
  color: #ffffff;
  font-size: 12px;
  text-align: right;
  padding: 30px 20px;
  line-height: 2em;
}

.footer .details {
  list-style: none;
  margin-bottom: 15px;
}

.footer .address {
  list-style: none;
}

.footer .address .title {
  font-size: 13px;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */