*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #ecf0f1;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.nav {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav .mobileLogo {
  font-family: 'Merienda', cursive;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  color: #171d1c;
  font-size: 20px;
  font-weight: bold;
}

.nav .hamburger {
  background: transparent;
  width: 22px;
  height: 16px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
  margin: auto 15px auto auto;
}

.nav .hamburger .line1,
.nav .hamburger .line2,
.nav .hamburger .line3 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #454851;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav .hamburger .line1 {
  top: 0;
}

.nav .hamburger .line2 {
  top: 7px;
}

.nav .hamburger .line3 {
  bottom: 0;
}

.nav .nav__list {
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.nav .nav__list.hide {
  display: none;
}

.nav .nav__list .item {
  text-transform: uppercase;
  list-style: none;
  margin: 15px;
}

.nav .nav__list .item a {
  text-decoration: none;
  color: #454851;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: url("/img/boat.jpg") no-repeat;
  background-position-x: 50%;
  background-size: cover;
  padding-top: 60px;
}

.header .title {
  font-size: 56px;
  color: #ffffff;
  text-align: center;
}

.ideas {
  padding: 20px;
  margin-top: 50px;
}

.ideas .title {
  font-size: 24px;
  color: #171d1c;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

.ideas .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ideas .boxes .box {
  width: 100%;
  height: 250px;
  max-width: 340px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ideas .boxes .box .text {
  margin: auto 20px 20px 20px;
  text-align: center;
  background: #ffffff;
  width: 100%;
  padding: 25px;
  color: #454851;
  font-weight: bold;
  position: relative;
}

.ideas .boxes .box .text::after {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #cccccc;
  margin: 10px;
  content: '';
  top: 0;
  left: 0;
  display: block;
}

.ideas .boxes .box1 {
  background: url("/img/box1.jpg") no-repeat;
  background-size: cover;
}

.ideas .boxes .box2 {
  background: url("/img/box2.jpg") no-repeat;
}

.ideas .boxes .box3 {
  background: url("/img/box3.jpg") no-repeat;
}

.locations {
  padding: 20px;
}

.locations .title {
  font-size: 24px;
  color: #171d1c;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

.locations .boxes .box {
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 7px;
  max-width: 278px;
}

.locations .boxes .box .img {
  max-width: 278px;
}

.locations .boxes .box .img img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
}

.locations .boxes .box .content {
  padding: 20px;
}

.locations .boxes .box .content .name {
  font-size: 24px;
  color: #171d1c;
  margin-bottom: 10px;
}

.locations .boxes .box .content .desc {
  color: #454851;
  margin-bottom: 10px;
  font-size: 14px;
}

.locations .boxes .box .content .button--red {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 12px;
  background: #f31131;
  padding: 8px 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.reasons {
  padding: 20px;
}

.reasons .title {
  font-size: 24px;
  color: #171d1c;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

.reasons .item {
  text-align: center;
  margin-bottom: 60px;
}

.reasons .item .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#43e9a4), color-stop(#38d690), color-stop(#2cc37c), color-stop(#20b069), to(#109e57));
  background-image: linear-gradient(to left top, #43e9a4, #38d690, #2cc37c, #20b069, #109e57);
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}

.reasons .item .circle::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.reasons .item .circle.circle1::after {
  background: url("/img/icon1.png") no-repeat;
  background-position: center;
}

.reasons .item .circle.circle2::after {
  background: url("/img/icon2.png") no-repeat;
  background-position: center;
}

.reasons .item .circle.circle3::after {
  background: url("/img/icon3.png") no-repeat;
  background-position: center;
}

.reasons .item .name {
  font-size: 18px;
  margin-bottom: 10px;
}

.reasons .item .desc {
  font-size: 13px;
}

.contact {
  background: #ffffff;
}

.contact .title {
  font-size: 24px;
  color: #171d1c;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

.contact .contactBox {
  padding: 30px;
}

.contact .button--red {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 12px;
  background: #f31131;
  padding: 8px 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 15px auto;
}

.footer {
  background: #171d1c;
  color: #ffffff;
  font-size: 12px;
  text-align: right;
  padding: 20px;
  line-height: 2em;
}

.footer .details {
  list-style: none;
  margin-bottom: 15px;
}

.footer .address {
  list-style: none;
}

.footer .address .title {
  font-size: 13px;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */